/vendor/
.DS_Store
Thumbs.db
*.log
*.pdf
/storage/remember_tokens.json
screenshots/
img/
report_lab05.tex
report_lab06.tex
handoff_lab06.md
.env
Lab06 (Final) - PHP Secure MVC Mini CRM Project Requirements.pdf\
Lab06 (Final) - PHP Secure MVC Mini CRM Project.pdf